/target/
/dist/
crates/*/target
**/*.rs.bk
**/*.rs.pending-snap
.idea/*
*.log
*.iml
.vscode/settings.json
.DS_Store
/out/
Thumbs.db
/wgpu_trace/
.cargo/config
.cargo/config.toml
.vscode/*

/output/
lib/gs_schemas/src/savefile/sql/0000_new_game.sqlite.zst
